@media print {

body {
  height: unset !important;
  overflow: unset !important;
}

#impress {
  position: relative !important;
  top: unset !important;
  left: unset !important;
}

.slide {
  page-break-after: always;
  page-break-inside: avoid;
}

div {
  position: relative !important;
  transform: unset !important;
  opacity: 1 !important;
  margin-bottom: 20px !important;
}

.fallback-message {
  display: none !important;
}

#demos_disabled_msg {
  display: none !important;
}

}
